<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/common/common.js"></script>
    <script src="/js/index.js"></script>

</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<button id="serialTest_btn"> serial_con</button><br><br>
<button id="qTest_btn"> qTest_btn</button><br><br>

</body>
</html>
